
ion-header {
    ion-toolbar {
      --color: #fff; /* Color del texto en el toolbar */
      font-weight: bold; /* Título en negrita */
      font-size: 1.2em; /* Tamaño del título */
    }
  }
  
  /* Estilos para el ion-content */
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Estilos para el formulario */
  .container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .input-list {
    margin-bottom: 20px; /* Espacio debajo de la lista de inputs */
  }
  
  .input-item {
    margin-bottom: 10px; /* Espacio entre los items */
    border-radius: 8px; /* Bordes redondeados para los items */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para los items */
  }
  
  ion-input {
    padding: 10px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ced4da; /* Borde gris claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el input */
  }
  
  ion-input[type=password] {
    -webkit-text-security: disc; /* Mostrar puntos para los campos de contraseña */
  }
  
  ion-button {
    --background: #007bff; /* Color de fondo del botón */
    --background-hover: #0056b3; /* Color de fondo del botón al pasar el ratón */
    --background-activated: #0056b3; /* Color de fondo del botón al hacer clic */
    --color: #ffffff; /* Color del texto del botón */
    font-weight: bold; /* Texto en negrita */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio debajo del botón */
  }

  ion-label {
    --color: #333; /* Color del texto de los labels */
    font-weight: bold; /* Texto en negrita */
  }
  
  @media (min-width: 768px) {
    .container {
      padding: 40px; /* Más espacio interno en pantallas grandes */
    }
  
    ion-header {
      ion-toolbar {
        font-size: 1.5em; /* Tamaño del título en pantallas grandes */
      }
    }
  }
  